@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --danger-color: #e74c3c;
    --light-color: #f4f4f4;
    --dark-color: #333;
    --white-color: #fff;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 30px auto;
    width: 350px;
    background: var(--white-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    color: var(--primary-color);
}

h2 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

.balance {
    text-align: center;
}

.total-balance {
    font-size: 2em;
    font-weight: bold;
}

.summary {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 20px;
    margin: 20px 0;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.summary>div {
    flex: 1;
    text-align: center;
}

.summary>div:first-of-type {
    border-right: 1px solid #dedede;
}

.income-amount {
    color: var(--secondary-color);
    font-size: 1.5em;
    letter-spacing: 1px;
}

.expense-amount {
    color: var(--danger-color);
    font-size: 1.5em;
    letter-spacing: 1px;
}

.transaction-list ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.transaction-list li {
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.transaction-list li.income {
    border-left: 5px solid var(--secondary-color);
}

.transaction-list li.expense {
    border-left: 5px solid var(--danger-color);
}

.delete-btn {
    cursor: pointer;
    background-color: var(--danger-color);
    border: 0;
    color: var(--white-color);
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.transaction-list li:hover .delete-btn {
    opacity: 1;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input,
.form-control select {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
    cursor: pointer;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--white-color);
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.btn:focus,
.delete-btn:focus {
    outline: 0;
}

.wallets ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.wallets li {
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.wallets li div {
    display: flex;
}

.wallets li button {
    margin-left: 10px;
}

.add-wallet-form {
    display: flex;
    margin-bottom: 20px;
}

.add-wallet-form input {
    flex: 1;
    margin-right: 10px;
}

.add-wallet-form .btn {
    margin: 0;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#account-selection-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#accounts-list {
    margin-bottom: 20px;
}

.account-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-color);
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    width: 300px;
    cursor: pointer;
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.account-header h1 {
    margin: 0;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
}